<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= page.title || config.title %>
  </title>
  <meta name="description" content="<%= page.description || config.description %>">
  <meta name="keywords" content="<%= page.keywords || config.keywords %>">
  <meta name="author" content="<%= config.author %>">
  <link rel="canonical" href="<%= page.permalink || config.url %>">
  <% if(theme.favicon !==undefined){ %>
  <% if(theme.favicon.startsWith('<svg')){ %>
  <link rel="icon" type="image/svg" href='data:image/svg+xml,<%- theme.favicon %>'>
  <% } else { %>
  <link rel="icon" href='<%- theme.favicon %>'>
  <% } %>
  <% } %>

  <!-- inject:css -->
</head>

<body id="app">
  <cosy-drag-box dragRight minWidth="220" hideThreshold="180">
    <aside>
      <div class="header">
        <cosy-search>
          <div slot="short-key">
            <cosy-short-key>⌘</cosy-short-key>
            <cosy-short-key>K</cosy-short-key>
          </div>
        </cosy-search>
      </div>
      <div class="content">
        <%- partial('navigation') %>
        <div class="icp">苏苏苏苏苏</div>
      </div>
    </aside>
  </cosy-drag-box>
  <main>
    <%- body %>
  </main>
</body>

<!-- inject:js -->

</html>