<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= page.title || config.title %>
  </title>
  <meta name="description" content="<%= page.description || config.description %>">
  <meta name="keywords" content="<%= page.keywords || config.keywords %>">
  <meta name="author" content="<%= config.author %>">
  <link rel="canonical" href="<%= page.permalink || config.url %>">
  <% if(theme.favicon !==undefined){ %>
  <% if(theme.favicon.startsWith('<svg')){ %>
  <link rel="icon" type="image/svg" href='data:image/svg+xml,<%- theme.favicon %>'>
  <% } else { %>
  <link rel="icon" href='<%- theme.favicon %>'>
  <% } %>
  <% } %>
  <!-- inject:css -->
  <%- serialize_i18n() %>
</head>

<body id="app">
  <cosy-drag-box id="aside-drag-box" trigger="right" uid="left-aside" min-width="220">
    <aside>
      <div class="header">
        <%- partial('profile') %>
        <cosy-search>
          <div slot="short-key">
            <cosy-short-key>⌘</cosy-short-key>
            <cosy-short-key>K</cosy-short-key>
          </div>
        </cosy-search>
      </div>
      <div class="content">
        <%- partial('category-nav') %>
        <div class="bottom">
          <cosy-tooltip placement="right">
            <span slot="content">关于cosy主题</span>
            <cosy-icon id="button-about-cosy-theme">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
                <g fill="none">
                  <path d="M10 2a8 8 0 1 1 0 16a8 8 0 0 1 0-16zm0 1a7 7 0 1 0 0 14a7 7 0 0 0 0-14zm0 10.5a.75.75 0 1 1 0 1.5a.75.75 0 0 1 0-1.5zm0-8a2.5 2.5 0 0 1 1.651 4.377l-.154.125l-.219.163l-.087.072a1.968 1.968 0 0 0-.156.149c-.339.36-.535.856-.535 1.614a.5.5 0 0 1-1 0c0-1.012.293-1.752.805-2.298a3.11 3.11 0 0 1 .356-.323l.247-.185l.118-.1A1.5 1.5 0 1 0 8.5 8a.5.5 0 0 1-1 .001A2.5 2.5 0 0 1 10 5.5z" fill="currentColor"></path>
                </g>
              </svg>
            </cosy-icon>
          </cosy-tooltip>
          <cosy-tooltip placement="left">
            <span slot="content">全局配置</span>
            <cosy-button round size="sm" id="button-preference" uid="button-preference">
              <svg slot="prefix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
                <g fill="none">
                  <path d="M8 6a2 2 0 1 0 0 4a2 2 0 0 0 0-4zM7 8a1 1 0 1 1 2 0a1 1 0 0 1-2 0zm3.618-3.602a.708.708 0 0 1-.824-.567l-.26-1.416a.354.354 0 0 0-.275-.282a6.072 6.072 0 0 0-2.519 0a.354.354 0 0 0-.275.282l-.259 1.416a.71.71 0 0 1-.936.538l-1.359-.484a.355.355 0 0 0-.382.095c-.569.627-1 1.367-1.262 2.173a.352.352 0 0 0 .108.378l1.102.931a.704.704 0 0 1 0 1.076l-1.102.931a.352.352 0 0 0-.108.378A5.986 5.986 0 0 0 3.53 12.02a.355.355 0 0 0 .382.095l1.36-.484a.708.708 0 0 1 .936.538l.258 1.416c.026.14.135.252.275.281a6.075 6.075 0 0 0 2.52 0a.353.353 0 0 0 .274-.281l.26-1.416a.71.71 0 0 1 .936-.538l1.359.484c.135.048.286.01.382-.095c.569-.627 1-1.367 1.262-2.173a.352.352 0 0 0-.108-.378l-1.102-.931a.703.703 0 0 1 0-1.076l1.102-.931a.352.352 0 0 0 .108-.378A5.985 5.985 0 0 0 12.47 3.98a.355.355 0 0 0-.382-.095l-1.36.484a.71.71 0 0 1-.111.03zm-6.62.58l.937.333a1.71 1.71 0 0 0 2.255-1.3l.177-.97a5.105 5.105 0 0 1 1.265 0l.178.97a1.708 1.708 0 0 0 2.255 1.3L12 4.977c.255.334.467.698.63 1.084l-.754.637a1.704 1.704 0 0 0 0 2.604l.755.637a4.99 4.99 0 0 1-.63 1.084l-.937-.334a1.71 1.71 0 0 0-2.255 1.3l-.178.97a5.099 5.099 0 0 1-1.265 0l-.177-.97a1.708 1.708 0 0 0-2.255-1.3L4 11.023a4.987 4.987 0 0 1-.63-1.084l.754-.638a1.704 1.704 0 0 0 0-2.603l-.755-.637c.164-.386.376-.75.63-1.084z" fill="currentColor"></path>
                </g>
              </svg>
              <span slot="content">偏好</span>
            </cosy-button>
          </cosy-tooltip>
        </div>
      </div>
    </aside>
  </cosy-drag-box>
  <main>
    <%- body %>
  </main>
</body>

<!-- inject:js -->

</html>