<!-- inject:css -->
<% if (theme.postCopyright.enable) { %>
<div class="copyright">
  <a target="_blank" href="<%- page.permalink %>">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path>
        <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path>
        <path d="M3 6v13"></path>
        <path d="M12 6v13"></path>
        <path d="M21 6v13"></path>
      </g>
    </svg>
    <span><%- page.title %></span>
  </a>
  <ul>
    <li>
      <span><%- __('text-author') %></span>
      <p> <%- config.author %></p>
    </li>
    <li>
      <span><%- __('text-pub-time') %></span>
      <p><%- page.date.format("YYYY-MM-DD") %></p>
    </li>
    <li>
      <span><%- __('text-license') %></span>
      <p><a href="<%- theme.postCopyright.license_url %>"><%- theme.postCopyright.license %></a></p>
    </li>
  </ul>
</div>
<% } %>
<!-- inject:js -->