<!-- inject:css -->

<% var sortedPosts=sort_posts_by_top(page.posts.toArray()); %>

<div class="category">
  <header>
    <div>
      <%- partial('breadcrumb') %>
    </div>
    <section></section>
  </header>

  <!-- 快速操作 -->
  <div class="spotlight">
    <!-- 筛选 -->
    <a class="filter tip" data-tip="<%- __('tip-filter') %>" id="filter-button">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
        <path d="M5.5 5h13a1 1 0 0 1 .5 1.5L14 12v7l-4-3v-4L5 6.5A1 1 0 0 1 5.5 5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
    <!-- 当前文章数量 -->
    <%- post_counter(page) %>
    <!-- 分页代码 -->
    <section class="pagination">
      <% if (page.total> 1){ %>
      <% if (page.prev){ %>
      <a class="tip btn-hover left" data-tip="<%- __('tip-prev-page') %>" href="<%- url_for(page.prev_link) %>">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 5v14"></path>
            <path d="M16 9l-4-4"></path>
            <path d="M8 9l4-4"></path>
          </g>
        </svg>
      </a>
      <% } %>
      <% if (page.next){ %>
      <a class="tip btn-hover left" data-tip="<%- __('tip-prev-page') %>" href="<%- url_for(page.next_link) %>">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 5v14"></path>
            <path d="M16 15l-4 4"></path>
            <path d="M8 15l4 4"></path>
          </g>
        </svg>
      </a>
      <% } %>
      <% } %>
    </section>

  </div>

  <!-- 分类文章列表 -->
  <ul class="table scrollbar-obtrusive">
    <% sortedPosts.forEach(function(post){ %>
    <li data-status="<%= post.status %>">
      <a href="<%- url_for(post.path) %>">
        <% if(post.status !==undefined){ %>
        <%- post_icon(post,'status') %>
        <% } %>
        <% if(post.top !==undefined){ %>
        <%- post_icon(post,'top') %>
        <% } %>
        <p class="ellipsis">
          <span><%- post.title %></span>
        </p>
        <span class="post-date">
          <b>
            <%= post.date.format('MM DD') %>
          </b>
          <em>/ <%= post.date.format('YYYY') %></em>
        </span>
      </a>
    </li>
    <% }) %>
  </ul>

</div>

<!-- inject:js -->