<!-- inject:css -->

<% var sortedPosts=sort_posts_by_top(page.posts.toArray()); %>

<div class="category">
  <header>
    <div class="left">
      <cosy-tooltip id="left-aside-show-button" placement="bottom">
        <span slot="content">左侧导航</span>
        <cosy-icon>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
            <g fill="none">
              <path d="M16 4c1.104-.019 2 .896 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h12zm1 2a1 1 0 0 0-1-1h-2.995v10H16a1 1 0 0 0 1-1V6zm-4.995 9V5H4.001a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8.004z" fill="currentColor"></path>
            </g>
          </svg>
        </cosy-icon>
      </cosy-tooltip>
      <%- partial('breadcrumb') %>
      <!-- 筛选 -->
      <cosy-button type="dashed" id="filter-button">
        <svg slot="prefix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M7.5 13h5a.5.5 0 0 1 .09.992L12.5 14h-5a.5.5 0 0 1-.09-.992L7.5 13h5h-5zm-2-4h9a.5.5 0 0 1 .09.992L14.5 10h-9a.5.5 0 0 1-.09-.992L5.5 9h9h-9zm-2-4h13a.5.5 0 0 1 .09.992L16.5 6h-13a.5.5 0 0 1-.09-.992L3.5 5h13h-13z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">筛选</span>
      </cosy-button>
    </div>
    <div class="center">
      <!-- 当前文章数量 -->
      <%- post_counter(page) %>
    </div>
    <div class="right">
      <cosy-tooltip id="right-aside-show-button" placement="left">
        <span slot="content">右侧导航</span>
        <cosy-icon>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
            <g fill="none">
              <path d="M4 4c-1.104-.019-2 .896-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4zM3 6a1 1 0 0 1 1-1h2.995v10H4a1 1 0 0 1-1-1V6zm4.995 9V5h8.004a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7.995z" fill="currentColor"></path>
            </g>
          </svg>
        </cosy-icon>
      </cosy-tooltip>
    </div>
  </header>

  <!-- 快速操作 -->
  <div class="spotlight">
    <!-- 分页代码 -->
    <section class="pagination">
      <% if (page.total> 1){ %>
      <% if (page.prev){ %>
      <a class="tip btn-hover left" data-tip="<%- __('tip-prev-page') %>" href="<%- url_for(page.prev_link) %>">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 5v14"></path>
            <path d="M16 9l-4-4"></path>
            <path d="M8 9l4-4"></path>
          </g>
        </svg>
      </a>
      <% } %>
      <% if (page.next){ %>
      <a class="tip btn-hover left" data-tip="<%- __('tip-prev-page') %>" href="<%- url_for(page.next_link) %>">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 5v14"></path>
            <path d="M16 15l-4 4"></path>
            <path d="M8 15l4 4"></path>
          </g>
        </svg>
      </a>
      <% } %>
      <% } %>
    </section>

  </div>

  <!-- 分类文章列表 -->
  <ul class="table cosy-scrollbar">
    <% sortedPosts.forEach(function(post){ %>
    <li data-status="<%= post.status %>">
      <a href="<%- url_for(post.path) %>">
        <% if(post.status !==undefined){ %>
        <%- post_icon(post,'status') %>
        <% } %>
        <% if(post.top !==undefined){ %>
        <%- post_icon(post,'top') %>
        <% } %>
        <p class="ellipsis">
          <span><%- post.title %></span>
        </p>
        <span class="post-date">
          <b>
            <%= post.date.format('MM DD') %>
          </b>
          <em>/ <%= post.date.format('YYYY') %></em>
        </span>
      </a>
    </li>
    <% }) %>
  </ul>

</div>

<!-- inject:js -->