<!-- inject:css -->

<div class="roadmap">
  <div class="timeline-bar">
    <div id="segmented-control-container"></div>
    <section>
      <button id="year-dropdown"><%= page.initYear %></button>
      <button id="tody-button" style="display: none;"  class="tip left" data-tip="<%- __('tip-roadmap-today') %>"><%- __('text-today') %></button>
    </section>
  </div>
  <div id="gantt-container" class="scrollbar-obtrusive"></div>
</div>


<script>
  window.roadmapYears = JSON.parse('<%- road_to_json(page.years) %>')
  window.initYear = '<%= page.initYear %>'
</script>


<!-- inject:js -->